<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>上海致悦会计师事务所</title>
	<link rel="shortcut icon" href=" /favicon.ico" /> 
	<link rel="stylesheet" type="text/css" href="./public/css/common.css">
	<link rel="stylesheet" type="text/css" href="./public/css/case.css">
	<style>
		.rightCon div{display: none;}
		.rightCon div.active{display: block;}
		.rightCon div h3{font-size: 16px;color: #333;padding-bottom: 20px;}
		.rightCon div p{font-size: 14px;color:#666;line-height: 1.5rem;margin-bottom: 15px;}
		.content .leftCon .menu{margin-top: 0;}
	</style>
</head>
<body>
	<div class="header">
		<div class="w1200 clearfloat">
			<h1>上海致悦会计师事务所</h1>
			<div class="nav">
				<ul class="clearfloat">
					<li><a href="index.html">首页</a></li>
					<li><a href="introduce.html">公司简介</a></li>
					<li><a href="case.html" class="on">业务领域</a></li>
					<li><a href="law.html">政策解读</a></li>
					<li><a href="contact.html">联系我们</a></li>
				</ul>
			</div>
			<!-- <div class="search" id="search">
				<input type="text" >
				<a href="javascript:;">&nbsp;</a>
			</div> -->
		</div>
	</div>
	<div class="banner">
		<span>业务领域</span>
	</div>
	<div class="content">
		<div class="w1200 clearfloat">
			<div class="leftCon">
				<!-- <div class="searchBox">
					<input type="text" name="" value="查找关键字" onfocus="if (this.value == '查找关键字') {this.value=''}" onblur="if (this.value == '') {this.value='查找关键字'}">
					<a href="javascript:;" class="btn">&nbsp;</a>
				</div> -->
				<div class="menu">
					<ul>
						<li  class="on">纳税筹划</li>
						<li>税务代理</li>
						<li>税务鉴证</li>
						<li>税务风险管理</li>
						<li class="last">税务咨询</li>
					</ul>
				</div>
			</div>
			<div class="rightCon">
				<div class="listCon1 active">
					<h3>纳税筹划</h3>
					<p>税收贯穿于企业生产经营的全过程，企业生产经营每个环节的实现都伴随着税收的影子。企业经营管理者进行经营决策时，如果无视税收的存在，则可能要为此付出更大的代价。企业的纳税行为涉及企业和国家两个主体，如何使企业的纳税行为在遵守税法的前提下，使企业和政府双方都受益，促进企业经济效益的提高，促进国家法治建设和社会经济发展，是一个值得探讨的问题。</p>
					<p>我们可以是利用有效的组织技巧和贸易安排，创新的税务筹划使企业合规化，并为企业系统地制定卓有成效的税务优化规划，帮助企业有效降低税务风险、达到税务负担最优化。</p> 
					<p>主要服务范围包括但不限于：</p>
					<p>◆ 对投资经营理财活动的事前涉税筹划</p>
					<p>◆ 特别纳税事项调整筹划</p>
				</div>
				<div class="listCon2">
						<h3>税务代理</h3>
					<p>代理纳税人、扣缴义务人在发生法定纳税义务后，按照税收法律、法规、规章和规范性文件所规定的期限和内容，在申报期限内，向税务机关提交有关纳税事项的书面报告。</p>
					<p>主要服务范围包括但不限于：</p>
					<P>◆ 企业日常纳税申报代理</P>
					<P>◆ 税务注销</P>
					<P>◆ 减免税申请 税务筹划</P>
					<P>◆ 个人所得税服务</P>
					<P>◆ 个人所得税筹划</P>
				</div>
				<div class="listCon3">
					<h3>税务鉴证</h3>
					<p>为加强和规范税收管理，提高纳税服务质量，降低企业税收风险，税局要求纳税人部分涉税事项附送税务师事务所等涉税专业服务机构鉴证业务报告。</p>
					<p>我们将从专业视角协助企业规范纳税申报，降低税务风险。</p>
					<p>主要服务范围包括但不限于：</p>
					<p>◆ 企业税前弥补亏损的鉴证</p>
					<p>◆ 企业清算所得税申报鉴证</p>
					<p>◆ 企业所得税核定征收年度申报鉴证</p>
					<p>◆ 个人所得税纳税申报鉴证</p>
					<p>◆ 土地增值税申报鉴证</p>
					<p>◆ 营业税差额征税项目的鉴证</p>
					<p>◆ 企业资产损失企业所得税税前扣除的鉴证</p>
					<p>◆ 研究开发费加计扣除的鉴证</p>
					<p>◆ 安置残疾人员工资加计扣除的鉴证</p>
					<p>◆ 高新技术企业认定的鉴证</p>
					<p>◆ 企业变更税务登记、注销税务登记税款清算鉴证</p>
					<p>◆ 其他涉税鉴证</p>
				</div>
				<div class="listCon4">
					<h3>税务风险管理</h3>
					<P>随着税务机关对企业管理方式的不断发展和完善，以税务风险评估为基础的风险导向型税务管理模式逐渐被税务机关广泛采用，逐步应用于整个税收征管领域。为了适应上述征管要求，企业需要建立税务风险管理机制，以实现企业的自我税务风险管理模式。</P>
					<P>我们将从专业视角帮助企业修炼内功，加强财务管理，完善涉税流程控制，降低税务风险。</P>
					<P>主要服务范围包括但不限于：</P>
					<p>◆ 评估企业税务风险管理的有效性</p>
					<p>◆ 定期的税收合规性健康检查</p>
					<p>◆ 设计企业税务风险内控制度</p>
					<p>◆ 构架税务风险管理系体系</p>
					<p>◆ 税收管理流程优化</p>
				</div>
				<div class="listCon5">
					<h3>税务咨询</h3>
					<p>以书面、电话或晤谈的方式，对企业提供税收法律、法规方面的咨询、办税实务方面的咨询、涉税会计处理方面的咨询等。</p>
					<p>主要服务范围包括但不限于：</p>
					<p>◆ 企业日常生产经营过程中涉税问题的咨询；</p>
					<p>◆ 企业改制、重组、并购、分立等过程中涉税问题的咨询；</p>
					<p>◆ 上市公司重大资产重组、定向</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./public/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./public/js/common.js"></script>
	<script>
		$(".menu ul li").click(function(){
			$(this).addClass("on").siblings("li").removeClass("on");
			var i = $(this).index();
			$(".rightCon div").eq(i).addClass("active").siblings("div").removeClass("active");
		})
	</script>
</body>
</html>