<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>上海致悦会计师事务所</title>
	<link rel="shortcut icon" href=" /favicon.ico" /> 
	<link rel="stylesheet" type="text/css" href="./public/css/common.css">
	<link rel="stylesheet" type="text/css" href="./public/css/contact.css">
</head>
<body>
	<div class="header">
		<div class="w1200 clearfloat">
			<h1>上海致悦会计师事务所</h1>
			<div class="nav">
				<ul class="clearfloat">
					<li><a href="index.html">首页</a></li>
					<li><a href="introduce.html">公司简介</a></li>
					<li><a href="case.html">业务领域</a></li>
					<li><a href="law.html">政策解读</a></li>
					<li><a href="contact.html" class="on">联系我们</a></li>
				</ul>
			</div>
			<!-- <div class="search" id="search">
				<input type="text" >
				<a href="javascript:;">&nbsp;</a>
			</div> -->
		</div>
	</div>
	<div class="content">
		<div class="w1200">
			<div class="title">
				<div class="title_icon"></div>
				<div class="title_txt">
					<div class="line">&nbsp;</div>
					<span>上海市浦东新区<br>张杨路315号A栋3208室</span>
				</div>
			</div>
			<div class="contact">
				<ul class="clearfloat">
					<li>
						<div class="top first">
							<span>&nbsp;</span>
						</div>
						<p>400-520-2569</p>

						<!-- .contact_sprite{background:url(../images/contact_sprite.png)  no-repeat;}
						._222_03{height:83px;width:83px;background-position:0 0;}
						._222_05{height:83px;width:83px;background-position:0 -83px;}
						._222_07{height:83px;width:83px;background-position:0 -166px;}
						._111_03{height:83px;width:83px;background-position:0 -249px;}
						._111_05{height:83px;width:83px;background-position:0 -332px;}
						._111_07{height:83px;width:83px;background-position:0 -415px;} -->
					</li>
					<li>
						<div class="top second">
							<span>&nbsp;</span>
						</div>
						<p>zysws@gamil.com</p>
					</li>
					<li>
						<div class="top third">
							<span>&nbsp;</span>
						</div>
						<p>021-6898543</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./public/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="./public/js/common.js"></script>
</body>
</html>